/*NAV*/

.img-fluid{
    width: 80px;
    height: 80px;
}

.home-text h1{
    font-size: 50px;
    font-weight: bold;
}

.home-text h2{
    font-size: 40px;
}

.home-text p{
    font-size: 30px;
    font-style: italic;
}

.progress-bar{
    background-color: #551486;
}

.btn{
    background-color: #551486;
    color: white; 
}
.stan{
    color: #a53cf5;
    
}
.stan-dos{
    color:#8948df;
}

.cosito{ 
    color:#551486 !important;

}

.icono{
    color:#551486 !important;
}

.accordion-button{
    background-color: #55148676 !important;
    color: aliceblue;
}

.accordion-button:focus{
    background-color: #551486ca !important;
    color: rgb(0, 0, 0);
}