/*NAV*/

.img-fluid{
    width: 80px;
    height: 80px;
}

.home-text h1{
    font-size: 50px;
    font-weight: bold;
}

.home-text h2{
    font-size: 40px;
}

.home-text p{
    font-size: 30px;
    font-style: italic;
}